# Fall Prep Notebook 7
## Classifying Pumpkin Seeds I

This notebook has a few exercises that can serve as a primer for what to expect in the `Fall Problem Session 7` notebook. These exercises will touch upon the basic python, `pandas`, `numpy`, `matplotlib` and some supervised learning basic techniques that you may want a refresher on prior to starting `Fall Problem Session 7`.

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

sns.set_style("whitegrid")

#### 1. Reading Excel files

##### a.

In the `Data` folder is a file called `Pistachio_16_Features_Dataset.xlsx`. Do a web search to see how you can read in such a file using `pandas`. Store the `DataFrame` in a variable.

In [3]:
df = pd.read_excel('../../Data/Pistachio_16_Features_Dataset.xlsx')

##### b.

Look at a random sample of size $10$ from this data set.

In [8]:
df.sample(10)

,AREA,PERIMETER,MAJOR_AXIS,MINOR_AXIS,ECCENTRICITY,EQDIASQ,SOLIDITY,CONVEX_AREA,EXTENT,ASPECT_RATIO,ROUNDNESS,COMPACTNESS,SHAPEFACTOR_1,SHAPEFACTOR_2,SHAPEFACTOR_3,SHAPEFACTOR_4,Class
1321,72466,1142.8960,411.3409,227.9080,0.8325,303.7542,0.9596,75520,0.7244,1.8049,0.6972,0.7384,0.0057,0.0031,0.5453,0.9842,Siit_Pistachio
1740,89507,1203.9760,469.0334,244.4654,0.8534,337.5853,0.9787,91454,0.7582,1.9186,0.7759,0.7197,0.0052,0.0027,0.5180,0.9939,Siit_Pistachio
991,72151,2175.1001,457.6626,218.5395,0.8786,303.0932,0.8917,80914,0.7112,2.0942,0.1916,0.6623,0.0063,0.0030,0.4386,0.9185,Kirmizi_Pistachio
2107,101320,1274.6240,475.5370,271.9464,0.8203,359.1721,0.9874,102611,0.7618,1.7486,0.7837,0.7553,0.0047,0.0027,0.5705,0.9976,Siit_Pistachio
603,72772,1304.8199,485.6216,197.2223,0.9138,304.3948,0.9253,78643,0.7250,2.4623,0.5371,0.6268,0.0067,0.0027,0.3929,0.9674,Kirmizi_Pistachio
2005,98270,1244.2590,464.5867,274.7918,0.8063,353.7248,0.9638,101957,0.7344,1.6907,0.7976,0.7614,0.0047,0.0028,0.5797,0.9801,Siit_Pistachio
100,71716,1090.1890,418.2818,219.9957,0.8505,302.1782,0.9779,73338,0.7484,1.9013,0.7583,0.7224,0.0058,0.0031,0.5219,0.9923,Kirmizi_Pistachio
1539,73212,1276.6710,410.6384,250.3580,0.7926,305.3136,0.8961,81705,0.6990,1.6402,0.5645,0.7435,0.0056,0.0034,0.5528,0.9067,Siit_Pistachio
1413,90674,1205.5510,463.2462,250.5961,0.8411,339.7789,0.9816,92375,0.7658,1.8486,0.7840,0.7335,0.0051,0.0028,0.5380,0.9945,Siit_Pistachio
53,69088,1402.4320,460.5004,202.9455,0.8977,296.5899,0.9128,75684,0.6446,2.2691,0.4414,0.6441,0.0067,0.0029,0.4148,0.9412,Kirmizi_Pistachio

##### c.

Produce a list of column names from this `DataFrame` using only `pandas`.

In [11]:
df.columns

Index(['AREA', 'PERIMETER', 'MAJOR_AXIS', 'MINOR_AXIS', 'ECCENTRICITY',
       'EQDIASQ', 'SOLIDITY', 'CONVEX_AREA', 'EXTENT', 'ASPECT_RATIO',
       'ROUNDNESS', 'COMPACTNESS', 'SHAPEFACTOR_1', 'SHAPEFACTOR_2',
       'SHAPEFACTOR_3', 'SHAPEFACTOR_4', 'Class'],
      dtype='object')

##### d.

How many of each `Class` value is present in this `DataFrame`? What percentage of the `DataFrame` does each value represent?

In [13]:
df.Class.nunique()

2

In [19]:
print('% of Siit Pistachios:',np.sum(df.Class == 'Siit_Pistachio')/len(df))
print('% of Kirmizi Pistachios:',np.sum(df.Class == 'Kirmizi_Pistachio')/len(df))

% of Siit Pistachios: 0.4264432029795158
% of Kirmizi Pistachios: 0.5735567970204841

In [18]:
np.sum(df.Class == 'Siit_Pistachio')

916

#### 2. Train test splits for classification

##### a.

Write a `for` loop to print out a train test split of the following data `test` 20 times. Set a test set size of $20\%$, do not set a random seed.

In [20]:
test = [0,0,0,0,0,0,0,0,0,0,
           1,1,0,0,0,0,0,1,1,1]

In [21]:
from sklearn.model_selection import train_test_split

In [23]:
for i in range(20):
    print(train_test_split(test,
                            test_size = 0.2,
                            shuffle=True))

[[0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0], [0, 1, 1, 0]]
[[1, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0], [0, 0, 0, 0]]
[[0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0], [0, 0, 1, 1]]
[[0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0], [0, 0, 1, 0]]
[[0, 1, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0], [0, 1, 0, 0]]
[[0, 0, 0, 1, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0], [0, 1, 0, 0]]
[[0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0], [1, 0, 0, 1]]
[[1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0], [0, 0, 1, 0]]
[[1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0], [0, 0, 0, 1]]
[[0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1], [0, 1, 0, 1]]
[[0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0], [1, 0, 0, 0]]
[[0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 1, 1], [0, 0, 0, 0]]
[[0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0], [0, 1, 0, 0]]
[[1, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0], [0, 0, 0, 0]]
[[0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1], [0, 0, 1, 0]]
[[1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0], [0, 0, 0, 0]]
[[0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0], [1, 0, 1, 0]]
[[1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0], [0, 1, 0, 0]]
[[0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0], [0, 0, 0, 1]]
[[0, 1, 0, 1, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0], [0, 0, 0, 0]]

##### b.

Did it ever happen that your test set had no `1`s in it?

yes

##### c.

Rerun the loop you ran above, only this time include the argument, `stratify=test`. Are there ever splits where the test set has no `1`s in it this time?

In [25]:
for i in range(20):
    print(train_test_split(test,
                            test_size = 0.2,
                            shuffle=True,
                            stratify=test))

[[0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 1, 0, 0], [0, 0, 1, 0]]
[[0, 0, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0], [0, 0, 0, 1]]
[[0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1], [0, 0, 1, 0]]
[[0, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0], [1, 0, 0, 0]]
[[0, 0, 0, 0, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 1, 0]]
[[0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 1, 0], [0, 0, 1, 0]]
[[0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0], [1, 0, 0, 0]]
[[1, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0], [0, 1, 0, 0]]
[[0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0], [0, 0, 1, 0]]
[[0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0], [0, 0, 0, 1]]
[[1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0], [1, 0, 0, 0]]
[[0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 1, 0, 0], [0, 1, 0, 0]]
[[1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0], [0, 1, 0, 0]]
[[0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0], [0, 1, 0, 0]]
[[1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1], [0, 0, 1, 0]]
[[0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0], [0, 1, 0, 0]]
[[0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0], [0, 1, 0, 0]]
[[0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0], [0, 0, 0, 1]]
[[0, 1, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0], [0, 1, 0, 0]]
[[0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0], [0, 0, 0, 1]]

no

##### d.

Read the documentation for `StratifiedKFold` to see how it is different from regular `KFold`. Run the pistachio data set through a stratified k-fold using the `Class` column as the stratification column.

- <a href="https://scikit-learn.org/stable/modules/generated/sklearn.model_selection.StratifiedKFold.html">https://scikit-learn.org/stable/modules/generated/sklearn.model_selection.StratifiedKFold.html</a>
- <a href="https://scikit-learn.org/stable/modules/generated/sklearn.model_selection.KFold.html">https://scikit-learn.org/stable/modules/generated/sklearn.model_selection.KFold.html</a>

In [27]:
from sklearn.model_selection import StratifiedKFold

In [32]:
kfold = StratifiedKFold(shuffle=True,
                       random_state = 2000)

In [34]:
for train_index, test_index in kfold.split(df,df.Class):
    print(df.iloc[train_index].Class.value_counts(normalize=True))
    print(df.iloc[test_index].Class.value_counts(normalize=True))
    print()
    print()

Kirmizi_Pistachio    0.573341
Siit_Pistachio       0.426659
Name: Class, dtype: float64
Kirmizi_Pistachio    0.574419
Siit_Pistachio       0.425581
Name: Class, dtype: float64


Kirmizi_Pistachio    0.573341
Siit_Pistachio       0.426659
Name: Class, dtype: float64
Kirmizi_Pistachio    0.574419
Siit_Pistachio       0.425581
Name: Class, dtype: float64


Kirmizi_Pistachio    0.573923
Siit_Pistachio       0.426077
Name: Class, dtype: float64
Kirmizi_Pistachio    0.572093
Siit_Pistachio       0.427907
Name: Class, dtype: float64


Kirmizi_Pistachio    0.573589
Siit_Pistachio       0.426411
Name: Class, dtype: float64
Kirmizi_Pistachio    0.573427
Siit_Pistachio       0.426573
Name: Class, dtype: float64


Kirmizi_Pistachio    0.573589
Siit_Pistachio       0.426411
Name: Class, dtype: float64
Kirmizi_Pistachio    0.573427
Siit_Pistachio       0.426573
Name: Class, dtype: float64

--------------------------

This notebook was written for the Erd&#337;s Institute C&#337;de Data Science Boot Camp by Matthew Osborne, Ph. D., 2022.

Any potential redistributors must seek and receive permission from Matthew Tyler Osborne, Ph.D. prior to redistribution. Redistribution of the material contained in this repository is conditional on acknowledgement of Matthew Tyler Osborne, Ph.D.'s original authorship and sponsorship of the Erdős Institute as subject to the license (see License.md)